* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 300px;
  margin: auto;
  background-color: tomato;
  padding: 30px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}
p {
  padding: 7px 0;
}
